@import '../LESSHat/lesshat.less';
@import '../var/var.less';

.list-header {
  text-align: center;
  padding: 18px 0px;
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  max-width: @pageMaxWidth;
  color: white;
  h2 {
    max-width: 350px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 33px;
    font-weight: 500;
  }
}

.primary-list-header {
  background-color: @red;
}

.secondary-list-header {
  background-color: @green;
}

.list {
  width: 100%;
  max-width: @pageMaxWidth;
  text-align: left;
  margin: 0 auto;
  font-size: 25px;
  list-style-type: none;
  padding-left: 0px;
  font-weight: 500;
}

.expander-container {
  text-align: center;
}

.expander-button {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  padding: 3px 7px;
}

.row {
  margin: 14px 0px;
  background-color: white;
  padding: 7px 0px;
  position: relative;
}

.row-text {
  max-width: 450px;
  display: inline-block;
}

.row-idx {
  width: 40px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  font-weight: 700;
  color: @red;
}

.vote-box {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 60px;
  background-color: @red;
  text-align: center;
  cursor: pointer;
}

.vote-box.voted {
  .opacity(0.4);
  cursor: default;
}

.vote-box-inner {
  position: relative;
  top: 50%;
  left: 50%;
  .transform(translate(-50%, -50%));
}

.vote-icon {
  width: 25px;
  margin-top: 7px;
}

.vote-score {
  color: white;
  margin-bottom: 0px;
  margin-top: 2px;
  font-size: 15px;
}

.text-input-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 7px 0px;
}

.text-input {
  font-size: 28px;
  font-family: @sans-serif;
  font-style: italic;
  color: white;
  outline: none;
  width: 93%;
  border: none;
  border-bottom: 1px solid white;
  .placeholder(white);
  .border-radius(0px);
}

.answer-text-input-container {
  background-color: @red;
  .text-input {
      background-color: @red;
  }
}

.form-container {
  max-width: @pageMaxWidth;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  position: relative;
}

.form-info-box {
  position: absolute;
  left: 0px;
  top: -18px;
  background-color: white;
  p {
    margin: 0px;
    padding: 0px 5px;
    font-size: 12px
  }
}

.form-button {
  display: none;
}

.question-box {
  margin-top: 80px;
}

.days-remaining-container {
  text-align: center;
}

.upcoming-container {
  width: 100%;
  max-width: @pageMaxWidth;
  margin: 0 auto;
  text-align: center;
}

.upcoming-header {
  padding: 8px 15px;
  background-color: @green;
  padding: 5px 15px;
  color: white;
}

.upcoming-header-text {
  font-size: 30px;
  font-weight: 500;
  margin: 0px;
}

.question-list {
  .vote-box {
    background-color: @green;
  }
  .row-idx {
    color: @green;
  }
}

.question-text-input-container {
  background-color: @green;
  .text-input {
      background-color: @green;
  }
}

// responsiveness
@media screen and (max-width: 480px) {
  .list-header {
    padding: 12px 0px;
    line-height: 33px;
    font-size: 30px;
  }

  .list {
    font-size: 25px;
  }

  .row {
    margin: 8px 0px;
    line-height: 30px;
  }

  .row-idx {
    margin-left: 13px;
    width: 30px;
  }

  .row-text {
    padding-left: 8px;
    max-width: calc(~'100% - 115px');
  }

  .form-container {
    margin-top: 10px;
  }

  .text-input {
    font-size: 25px;
  }

  .vote-box {
    width: 50px;
    line-height: 15px;
  }

  .vote-icon {
    width: 25px;
  }

  .vote-score {
    font-size: 12px;
  }
}








