{% extends '../base/base_layout.html' %}

{% block content %}
{% include '../base/nav.html' %}
<div class="static-page">
  <h1>Terms of Service</h1>

  <h2>CONTENT AND LICENSE</h2>
  <p>BEZZIST contains content that may be protected by copyrights, trademarks, rights and laws. You shall not violate these legal protections.<p>
  <p>You shall abide by all copyright and legal notices and restrictions contained in any content made available on BEZZIST.</p>
  <p>BEZZIST grants each and every user a worldwide, non-exclusive, non-transferable license to use and reproduce any and all content on the site for personal, non-commercial use. You shall not sell, license, rent or otherwise exploit any content for commercial use in any way that violates the rights of any party.</p>

  <h2>INTELLECTUAL PROPERTY</h2>
  <p>You grant BEZZIST the worldwide, non-exclusive, perpetual, irrevocable, royalty-free, sub-licensable, transferable right to (and to allow others acting on its behalf to):</p>
  <ul>
    <li> Use, edit, modify, prepare derivative works of, reproduce, host, display, stream, transmit, playback, transcode, copy, feature, market, sell, distribute, and otherwise fully exploit content you have submitted and your trademarks, service marks, slogans, logos, and similar proprietary rights for promoting, marketing, and redistributing part or all of the site in any media formats and through any media channels (including, without limitation, third-party websites)</li>
    <li>Use and publish, and permit others to use and publish your submitted content, trademarks and personal and biographical materials, in connection with the provision or marketing of the services provided.</li>
  </ul>
  <p>By submitting content to the site, you allow other users to access and use, edit, modify, reproduce, distribute, prepare derivative works of and display your works and content solely for personal, non-commercial use. </p>
  <p>The content you submit to the site must not contain any third-party copyrighted material, unless you have full permission from the rightful owner of said material.</p>
  <p>The information publicly posted or privately transmitted through the site is the sole and full responsibility of the user that submitted said content or communication.</p>
  <p>Any and all content you access through the site is at your own risk. Thus, you are solely and fully responsible for any resulting damage or loss to any party.</p>
  <p>You understand that submitting content on the site is not a substitute for registering it with the U.S. Patent and Trademark Office, U.S. Copyright Office, the Writer's Guild of America, or any other rights organization.</p>
  <p>BEZZIST reserves the right to delete, edit, modify or translate any of the content you submit to the site.</p>
  <p>BEZZIST is not responsible or liable for any errors or omissions in any user submitted content or modifications or translations of it.</p>
  <p>BEZZIST shall not use or otherwise exploit user submitted content in any way that infringes or violates the rights of any third party, including privacy rights, publicity rights, copyrights, or any other intellectual property rights.</p>

  <h2>COPYRIGHT NOTIFICATIONS</h2>
  <p>BEZZIST will remove any content deemed to infringe copyright in accordance with the Digital Millennium Copyright Act if and when properly notified of the infringement. If you believe that your work or content has been copied in such a way that constitutes copyright infringement please notify BEZZIST. When notifying BEZZIST of any claimed infringement, you must provide the following information:</p>
  <ul>
    <li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest</li>
    <li>A description of the copyrighted work that you claim has been infringed</li>
    <li>A description of where the material that you claim is infringing is located on the site, sufficient for BEZZIST to locate the material</li>
    <li> your address, telephone number, and email address</li>
    <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law</li>
    <li>A statement by you that the information in your notice is accurate and, under penalty of perjury, that you are the copyright owner or authorized to act on the copyright owner's behalf.</li>
  </ul>
  <p>If you believe that your work or content has been removed on unfair grounds or by mistake, please notify BEZZIST. Under the Copyright Act, any person who knowingly misrepresents that material is infringing copyright or was removed by mistake may be subject to liability.</p>
  <p>Failure to comply with copyright infringement will lead to termination of your account.</p>

  <h2>TRADEMARK INFRINGEMENT</h2>
  <p>All names and logos associated with BEZZIST and bezzist.com are trademarks of BEZZIST. Users may not infringe on any patents, trademarks, or other copyrights of BEZZIST users or other third parties.</p>

  <h2>TERMINATION</h2>
  <p>BEZZIST reserves the right to terminate your access and your account, without cause or notice, at any time for any reason. Termination of your account may result in the destruction of all information associated with your account.</p>

  <h2>WARRANTY DISCLAIMER</h2>
  <p>BEZZIST has no obligation to take any action regarding who accesses the site (except through the use of invite codes which may or may not be required), what content each user is able to access (except user profile information that may be kept private as chosen by the user), what effects the content may have on users, how users may interpret the content, how users may use the content, and what actions users may take as a result of being exposed to the content.</p>
  <p>BEZZIST cannot guarantee or verify the authenticity of any information provided by users on the site. BEZZIST is not liable or responsible for a user acquiring content through the site. BEZZIST is not held responsible for monitoring any content submitted by users to the site. BEZZIST reserves the right to remove, edit or modify any user submitted content at any time for any reason. BEZZIST reserves the right to block or remove any user at any time for any reason. BEZZIST reserves the right to not comment on the reasons behind said actions.</p>
  <p>Services provided by BEZZIST are without warranty of any kind. BEZZIST does not warrant that the services provided will be secure or available at any time or location, any errors will be corrected and any software available through the provided services is free of malware. BEZZIST does not warrant that the services provided will meet your needs, requirements or expectations or that using the services provided will result in any benefit, funding or revenue.</p>
  <p>You agree to use the services provided by BEZZIST at your own risk.</p>
  <p>BEZZIST does not guarantee the confidentiality or privacy of any communication or information transmitted on the site or third-party sites linked to the site.</p>
  <p>BEZZIST is not responsible or liable for the privacy of registration and identification information, including email addresses, as well as any and all content related to your use of the services provided.</p>

  <h2>INDEMNIFICATION</h2>
  <p>You shall indemnify, defend and hold BEZZIST, its employees and any affiliated parties and their employees, harmless from any and all liabilities, claims, losses, damages, costs, expenses and obligations related to your use or misuse of services provided, including any and all activity related to your account, all content submitted through your account, any third party using your account, any and all violations of the Terms of Service and any and all infringements of intellectual property. You are held solely responsible and liable for any and all indemnifications.</p>

  <h2>LIMITATION OF LIABILITY</h2>
  <p>BEZZIST has implemented reasonable technical and organizational measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration or disclosure. However, BEZZIST cannot guarantee that unauthorized third parties cannot defeat those measures or use your personal information for improper purposes. You acknowledge that you provide your personal information at your own risk. BEZZIST is not liable under contract, negligence or any other legal theory for any monetary loss, data loss, or malware including, but not limited to, bugs, viruses, or Trojan horses, related to the services provided.</p>

  <h2>GOVERNING LAW</h2>
  <p>You agree that the services provided are based solely in New York. These Terms of Service as well any further notices, policies or guidelines are governed solely by the laws of the State of New York. Any claim or dispute between you and BEZZIST shall be decided exclusively by a court located in the State of New York.</p>
  <p>You shall abide by all applicable local, state, national, and international laws and regulations.</p>
  <p>BEZZIST will cooperate with any law enforcement authorities and comply with any judicial order requesting or directing it to disclose the identity of anyone using the site in violation of applicable laws.</p>
  <p>Please contact BEZZIST with any questions regarding the Privacy Policy.</p>
</div>
{% endblock %}
