/**
 *
 * Base LESS file for Bezzist
 *
 */

@import '../LESSHat/lesshat.less';
@import '../var/var.less';

body {
  margin: 0 0 0 0;
  font-family: @sans-serif;
  position: relative;
  z-index: @zBase;
}

.landing, .static-page {
  max-width: @pageMaxWidth;
  margin: 0 auto;
  padding: 0px @containerSidePadding;
  padding-top: @navTopPadding;
}

.static-page {
  p, ol, ul {
    font-size: 1.2em;
  }
}

.strong {
  font-weight: 500;
}

.hidden {
  display: none;
}

footer {
  border-top: 6px solid @grey;
  text-align: center;
  max-width: @pageMaxWidth;
  margin: 0 auto;
  margin-top: 80px;
}

.footer-list {
  padding-left: 0px;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 22px;
  font-weight: 500;
}

.footer-list-item {
  display: inline-block;
  margin-left: 13px;
  margin-right: 13px;
  a {
    color: @dark-grey - #111;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-copyright {
  text-align: center;
  color: @dark-grey;
  margin-bottom: 20px;
}

.overlay {
  position: fixed;
  z-index: @zOverlay;
  background-color: white;
  .opacity(0.98);
  width: 100%;
  min-height: 100%;
  text-align: center;
}

.overlay-centered-container {
  position: absolute;
  top: 15%;
  left: 50%;
  .translateX(-50%);
}

.overlay-hide-button {
  display: inline-block;
  margin-top: 20px;
  font-size: 25px;
  cursor: pointer;
}

// loader css from http://projects.lukehaas.me/css-loaders/
// slightly modified
.loader-centering-container {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: inline;
  width: 10em;
  height: 10em;
  margin: auto;
  text-align: center;
}

.loader {
  font-size: 10px;
  text-indent: -9999em;
  display: inline-block;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// end loader css
// responsiveness
@media screen and (min-width: 481px) and (max-width: 650px) {
  .container, footer {
    padding: 0px 0px;
  }
  .landing {
    padding: 0px 8px;
    padding-top: 90px;
  }
}

// responsiveness
@media screen and (max-width: 480px) {
  .container, footer {
    padding: 0px 0px;
  }
  .landing {
    padding: 0px 8px;
    padding-top: 75px;
  }
}