{% load static %}

<html>
  <head>
    <meta name='viewport' content='width=device-width initial-scale=1, maximum-scale=1'>
    <meta charset="utf-8">

    <!-- Typekit -->
    <script src='//use.typekit.net/xur0jon.js'></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <!-- End Typekit -->

    <!-- Styles -->
    <link rel='stylesheet' type='text/css' href='{% static "styles/css/base/base.css" %}'>
    <!-- End Styles -->


    <title>Bezzist - Confirmation Failed</title>
  </head>
  <body>
    <div class="landing">
      <h1>Confirmation for Bezzist failed.</h1>
      <p>The link that you used is not valid or has already been used to activate the account. Please contact the <a href="mailto:hello@bezzist.com">Bezzist Team</a> to resolve issues.</p>
      <p><a href="/">Click to go to Bezzist</a></p>
    </div>
  </body>
</html>