{% extends '../base/base_layout.html' %}

{% block content %}
{% include '../base/nav.html' %}
<div class="static-page">
  <h1>Bezzist Rules</h1>
  <p>We want Bezzist to be as useful as possible to you. Let’s keep in fun but safe for our whole community.</p>
  <ol>
    <li>No posting personal information.</li>
    <li>No writing obscenities.</li>
    <li>No spamming.</li>
    <li>No vote manipulating.</li>
    <li>No engaging in illegal activities.</li>
  </ol>

  <p>Please Bezzist responsibly :D</p>
</div>
{% endblock %}