/**
 *
 * Collection of global variables to be used in Bezzist
 *
 */
.list-header {
  padding: 15px 0px;
  margin: 0 auto;
  width: 100%;
  color: #fdfdfd;
}
.list-header h2 {
  font-size: 30px;
  line-height: 37px;
  width: 90%;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.list-header h2:hover {
  text-decoration: underline;
}
.primary-list-header {
  background-color: #1e90ff;
}
.secondary-list-header {
  background-color: #ffd800;
  color: #292929;
  cursor: pointer;
}
.secondary-list-header h2 {
  font-size: 23px;
  line-height: 25px;
  font-weight: 700;
}
.secondary-list-header:hover {
  background-color: #eec700;
}
.list {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  font-size: 25px;
  list-style-type: none;
  padding-left: 0px;
}
.expander-container {
  text-align: center;
}
.expander-button {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 3px 7px;
  text-decoration: underline;
  color: #858585;
}
.row-item {
  padding: 14px 0px;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}
.row-item.voted {
  background-color: #e9f4ff;
  border-bottom: 1px solid #fdfdfd;
}
.row {
  padding: 7px 0px;
  position: relative;
}
.row-text {
  max-width: 450px;
  display: inline-block;
}
.row-idx {
  width: 40px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  font-weight: 700;
  color: #1e90ff;
}
.question-list .row-idx {
  color: #292929;
}
.question-list .vote-box {
  border-left: 3px #ffd800 solid;
}
.question-list .row-item.voted {
  background-color: #fffbe5;
}
.question-list .edit-box {
  background-color: #ffd800;
  color: #292929;
}
.question-box-featured .row-idx {
  color: #db143b;
}
.question-box-featured .row-item.voted {
  background-color: #fce8eb;
}
.question-box-featured .edit-box {
  background-color: #db143b;
}
.question-box-featured .vote-box {
  border-left: 3px #db143b solid;
}
.question-box-featured .primary-list-header {
  background-color: #db143b;
}
.question-box-featured .answer-text-input-container {
  border-bottom: 6px solid #db143b;
}
.vote-box {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 60px;
  text-align: center;
  cursor: pointer;
  border-left: 3px #1e90ff solid;
}
.vote-box-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.vote-icon {
  width: 25px;
  margin-top: 7px;
}
.vote-score {
  margin-bottom: 0px;
  margin-top: 2px;
  font-size: 15px;
}
.edit-box {
  position: absolute;
  right: 60px;
  top: 0px;
  height: 100%;
  width: 60px;
  text-align: center;
  cursor: pointer;
  background-color: #1e90ff;
  color: #fdfdfd;
  font-size: 14px;
}
.edit-box:hover {
  background-color: #1b81e5;
}
.edit-box-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.text-input-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  background-color: #f2f2f2;
}
.text-input {
  font-size: 25px;
  font-family: 'brandon-grotesque', 'Helvetica', 'Arial', sans-serif;
  color: #292929;
  outline: none;
  width: 93%;
  border: none;
  background-color: #f2f2f2;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
}
.text-input::-webkit-input-placeholder {
  color: #858585;
}
.text-input:-moz-placeholder {
  color: #858585;
}
.text-input::-moz-placeholder {
  color: #858585;
}
.text-input:-ms-input-placeholder {
  color: #858585;
}
.text-input.row-text-input {
  width: 78%;
  padding: 5px 10px;
}
.answer-text-input-container {
  border-bottom: 6px solid #1e90ff;
}
.form-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  position: relative;
}
.form-info-box {
  position: absolute;
  left: 0px;
  top: -18px;
  background-color: #fdfdfd;
}
.form-info-box p {
  margin: 0px;
  padding: 0px 5px;
  font-size: 12px;
}
.form-button {
  display: none;
}
.question-box {
  margin-bottom: 80px;
}
.question-posted-date {
  width: 90%;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 300;
}
.upcoming-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
.upcoming-description {
  color: #666;
}
.upcoming-list {
  margin-bottom: 80px;
}
.upcoming-header-text {
  font-size: 30px;
  font-weight: 500;
  margin: 0px;
}
.question-vote-now-container {
  margin-top: 12px;
  line-height: 15px;
  text-align: center;
  margin-bottom: 0px;
}
.question-vote-now {
  display: inline-block;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.vote-pointer {
  height: 20px;
  vertical-align: top;
  margin-left: 10px;
}
.question-text-input-container {
  border-bottom: 2px solid #ffd800;
}
.questions-show-more {
  width: 100%;
  text-align: center;
}
.questions-show-more a {
  background-color: #ffd800;
  padding: 5px 25px;
  cursor: pointer;
  font-weight: 500;
}
.questions-show-more a:hover {
  text-decoration: underline;
  background-color: #eec700;
}
@media screen and (min-width: 481px) and (max-width: 650px) {
  .list-header {
    padding: 14px 0px;
    line-height: 33px;
    font-size: 30px;
  }
  .list-header h2 {
    width: 88%;
    font-size: 28px;
    line-height: 33px;
  }
  .secondary-list-header h2 {
    font-size: 20px;
    line-height: 23px;
  }
  .upcoming-container {
    margin-bottom: 20px;
  }
  .upcoming-list {
    margin-bottom: 70px;
  }
  .upcoming-description {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 14px;
    font-size: 13px;
    width: 95%;
  }
  .question-box {
    margin-bottom: 70px;
  }
  .question-posted-date {
    width: 88%;
    margin: 0 auto;
    font-size: 13px;
    margin-bottom: 0px;
    line-height: 23px;
  }
  .vote-pointer {
    height: 19px;
  }
  .question-vote-now {
    font-size: 14px;
  }
  .list {
    font-size: 22px;
  }
  .row-item {
    padding: 8px 0px;
  }
  .row-text {
    padding-left: 8px;
    max-width: calc(100% - 115px);
  }
  .text-input {
    font-size: 22px;
  }
  .vote-box {
    width: 55px;
    line-height: 15px;
  }
  .vote-icon {
    width: 25px;
  }
  .vote-score {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .list-header {
    padding: 14px 0px;
    line-height: 33px;
    font-size: 30px;
  }
  .list-header h2 {
    width: 88%;
    font-size: 24px;
    line-height: 30px;
  }
  .secondary-list-header h2 {
    font-size: 17px;
    line-height: 20px;
  }
  .upcoming-container {
    margin-bottom: 20px;
  }
  .upcoming-list {
    margin-bottom: 60px;
  }
  .upcoming-description {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 14px;
    font-size: 13px;
    width: 95%;
  }
  .question-box {
    margin-bottom: 60px;
  }
  .question-posted-date {
    width: 88%;
    margin: 0 auto;
    font-size: 11px;
    margin-bottom: 0px;
    line-height: 23px;
  }
  .question-vote-now {
    font-size: 12px;
  }
  .vote-pointer {
    height: 18px;
  }
  .list {
    font-size: 20px;
  }
  .row-item {
    padding: 1px 0px;
  }
  .row {
    margin: 8px 0px;
    line-height: 25px;
  }
  .row-idx {
    margin-left: 13px;
    width: 25px;
  }
  .row-text {
    padding-left: 8px;
    max-width: calc(100% - 115px);
  }
  .expander-button {
    margin-bottom: 0px;
  }
  .form-container {
    margin-top: 20px;
  }
  .text-input {
    font-size: 20px;
  }
  .vote-box {
    width: 50px;
    line-height: 15px;
  }
  .vote-icon {
    width: 25px;
  }
  .vote-score {
    font-size: 12px;
  }
}
