/**
 *
 * Collection of global variables to be used in Bezzist
 *
 */
.list-header {
  text-align: center;
  padding: 26px 0px;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
.list-header h2 {
  max-width: 500px;
  margin: 0 auto;
  font-size: 28px;
  line-height: 33px;
  font-weight: 500;
}
.primary-list-header {
  border-top: solid 5px #1e90ff;
  padding: 20px;
}
.secondary-list-header {
  background-color: #1e90ff;
  color: white;
}
.list {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  font-size: 25px;
  list-style-type: none;
  padding-left: 0px;
}
.expander-container {
  text-align: center;
}
.expander-button {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 3px 7px;
  text-decoration: underline;
  color: #858585;
}
.row-item {
  padding: 14px 0px;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}
.row-item.voted {
  background-color: #f2f2f2;
  border-bottom: 1px solid white;
}
.row {
  padding: 7px 0px;
  position: relative;
}
.row-text {
  max-width: 450px;
  display: inline-block;
}
.row-idx {
  width: 40px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  font-weight: 700;
  color: #1e90ff;
}
.vote-box {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 60px;
  text-align: center;
  cursor: pointer;
  border-left: 3px #1e90ff solid;
}
.vote-box-inner {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.vote-icon {
  width: 25px;
  margin-top: 7px;
}
.vote-score {
  margin-bottom: 0px;
  margin-top: 2px;
  font-size: 15px;
}
.text-input-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  background-color: #f2f2f2;
}
.text-input {
  font-size: 25px;
  font-family: 'brandon-grotesque', 'Helvetica', 'Arial', sans-serif;
  color: black;
  outline: none;
  width: 93%;
  border: none;
  background-color: #f2f2f2;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
}
.text-input::-webkit-input-placeholder {
  color: #858585;
}
.text-input:-moz-placeholder {
  color: #858585;
}
.text-input::-moz-placeholder {
  color: #858585;
}
.text-input:-ms-input-placeholder {
  color: #858585;
}
.answer-text-input-container {
  border-bottom: 6px solid #1e90ff;
}
.form-container {
  width: 100%;
  margin-bottom: 0px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.form-info-box {
  position: absolute;
  left: 0px;
  top: -18px;
  background-color: white;
}
.form-info-box p {
  margin: 0px;
  padding: 0px 5px;
  font-size: 12px;
}
.form-button {
  display: none;
}
.qna {
  height: 100%;
}
.questions,
.answers {
  float: left;
  height: calc(100% - 56px);
  padding-top: 56px;
  overflow-y: scroll;
  border-right: 1px solid #cbcbcb;
}
.answers {
  width: calc(65% - 3px);
  position: relative;
}
.questions {
  width: 35%;
  border-left: 1px solid #cbcbcb;
}
.question-list {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.question-row {
  padding: 20px 20px;
  font-size: 22px;
  border-bottom: 1px solid #cbcbcb;
  cursor: pointer;
}
.question-row:hover {
  zoom: 1;
  filter: alpha(opacity=80);
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.question-row-ask {
  background-color: #ffd800;
}
.question-row-featured {
  background-color: #ea212d;
  color: white;
}
.question-row-active {
  background-color: #1e90ff;
  color: white;
}
.question-row-finished {
  background-color: #4682b4;
  color: white;
}
.question-box {
  margin-top: 80px;
}
.question-posted-date {
  text-align: center;
  margin-bottom: 3px;
  font-size: 17px;
}
.days-remaining-container {
  text-align: center;
  margin-bottom: 8px;
}
.days-remaining {
  display: inline-block;
  font-size: 12px;
}
.days-remaining span {
  padding: 0px 5px;
}
.upcoming-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.upcoming-header {
  padding: 8px 15px;
  background-color: #1e90ff;
  padding: 5px 15px;
  color: white;
}
.upcoming-header-text {
  font-size: 30px;
  font-weight: 500;
  margin: 0px;
}
.question-text-input-container {
  border-bottom: 2px solid #1e90ff;
}
@media screen and (max-width: 480px) {
  .list-header {
    padding: 12px 0px;
    line-height: 33px;
    font-size: 30px;
  }
  .list-header h2 {
    width: 90%;
    font-size: 25px;
  }
  .days-remaining-container {
    margin-bottom: 5px;
  }
  .list {
    font-size: 20px;
    margin-top: 10px;
  }
  .row-item {
    padding: 1px 0px;
  }
  .row {
    margin: 8px 0px;
    line-height: 25px;
  }
  .row-idx {
    margin-left: 13px;
    width: 25px;
  }
  .row-text {
    padding-left: 8px;
    max-width: calc(100% - 115px);
  }
  .expander-button {
    margin-bottom: 0px;
  }
  .form-container {
    margin-top: 20px;
  }
  .text-input {
    font-size: 20px;
  }
  .vote-box {
    width: 50px;
    line-height: 15px;
  }
  .vote-icon {
    width: 25px;
  }
  .vote-score {
    font-size: 12px;
  }
}
