/**
 *
 * Alert LESS file for Bezzist
 *
 */
/**
 *
 * Collection of global variables to be used in Bezzist
 *
 */
.alert {
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 600px;
  color: white;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.alert p {
  padding: 0px 60px;
}
.alert-danger {
  background-color: #b22222;
}
.alert-warning {
  background-color: #ffa500;
}
.alert-info {
  background-color: #00bfff;
}
.alert-success {
  background-color: #3cb371;
}
.alert-close-icon {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 20px;
}
@media screen and (max-width: 480px) {
  .alert {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .alert p {
    padding: 0px 20px;
  }
  .alert-close-icon {
    width: 17px;
    margin-top: 5px;
  }
}
