/**
 *
 * Collection of global variables to be used in Bezzist
 *
 */
.auth-form {
  border: 1px solid black;
  text-align: center;
  border-top: 10px solid black;
  padding-right: 60px;
  padding-bottom: 25px;
  padding-left: 60px;
  min-width: 300px;
}
.auth-form h2 {
  margin-bottom: 0px;
}
.auth-form p {
  margin-top: 5px;
}
.auth-form input {
  text-align: center;
  font-size: 22px;
  font-family: 'brandon-grotesque', 'Helvetica', 'Arial', sans-serif;
  outline: none;
  color: black;
  width: 100%;
  border: none;
  border-bottom: 1px solid #cbcbcb;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
}
.auth-form input::-webkit-input-placeholder {
  color: #cbcbcb;
}
.auth-form input:-moz-placeholder {
  color: #cbcbcb;
}
.auth-form input::-moz-placeholder {
  color: #cbcbcb;
}
.auth-form input:-ms-input-placeholder {
  color: #cbcbcb;
}
.auth-form .form-error {
  color: red;
  margin: 0 0;
}
.auth-form-button {
  padding: 10px 40px;
  color: white;
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
  font-family: 'brandon-grotesque', 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
  border: none;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.auth-form-signup {
  background-color: #1e90ff;
  margin-right: 5px;
}
.auth-form-submit {
  background-color: #ffd800;
  margin-left: 5px;
}
@media screen and (max-width: 480px) {
  .overlay-centered {
    width: 95%;
  }
  .nav-user-point-status {
    display: none;
  }
  .auth-form {
    width: 100%;
    min-width: none;
    padding: 0 0 0 0;
    border-top: 5px solid black;
  }
  .auth-form h2,
  .auth-form p,
  .auth-form form {
    padding-left: 10px;
    padding-right: 10px;
  }
}
